html {
  font-family: sans-serif;
}

#logo {
  vertical-align: middle;
  margin-right: 10px;
}

#donate-button {
  margin-left: 100px;
}

#projects {
  list-style-type: none;
}
#projects img {
  vertical-align: middle;
  margin-right: 10px;
}
